<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<style>
			ul#messages {list-style: none;}
			ul#messages li {margin-bottom: 2px;}
			ul#messages li mg {margin-right: 10px;}
			/* input { display: block; }
			ul { list-style: none; } */
		</style>
	</head>
	<body>
		<!-- <p>Let's Chat</p>
		<ul id="messages"></ul>
		<form id="chatbox">
			{{ .UserData.name }}: <br/>
			<textarea></textarea>
			<input type="submit" value="Send" />
			or <a href="/logout">sign out</a>
		</form> -->
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-body">
					<ul id="messages"></ul>
				</div>
			</div>
			<form id="chatbox" role="form">
				<div class="form-group">
					<label for="message">Send a message as {{.UserData.name}}
					</label> or <a href="/logout">Sign out</a>
					<textarea id="messsage" name="" class="form-control" cols="30" rows="10"></textarea>
				</div>
				<input type="submit" value="Send" class="btn btn-default">
			</form>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script>
				$(function() {
					var socket = null;
					var msgBox = $("#chatbox textarea");
					var messages = $("#messages");
					$("#chatbox").submit(function() {
						if (!msgBox.val()) return false;
						if (!socket) {
							alert("Error: There was no socket connection.")
							return false;
						}
						socket.send(JSON.stringify({"Message": msgBox.val()}));
						msgBox.val("");
						return false
					});
					if(!window["WebSocket"]) {
						alert("Error: Your browswer doesn't support websockets.")
					} else {
						socket = new WebSocket("ws://{{ .Host }}/room");
						socket.onclose = function() {
							alert("Connection has been closed.");
						}
						socket.onmessage = function(e) {
							var msg = JSON.parse(e.data);
							messages.append(
								$("<li>").append(
									$("<img>").attr("title", msg.Name).css({
										width: 50,
										verticalAlign:"middle"
									}).attr("src", msg.AvatarURL),
									$("<strong>").text(msg.Name + ": "),
									$("<span>").text(msg.Message)
								)
							);
						}
					}
				});
			</script>
	</body>
</html>
